.loc-h-content-o{
    width: calc(100vw - 540px);
    min-height: calc(100vh - 110px);
}
.loc-h-card-content{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.loc-h-content-details{
    width: 400px;
    position: fixed;
    right: 0;
    top: 70px; 
    padding: 20px;
}
.loc-h-content-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.02);
}
.loc-h-activity-content{
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}
.loc-h-activity-content-con{
    margin-top: 30px;
    height: calc(100vh - 330px)
}
.loc-card.loc-h{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loc-card.card-active{
    background-color: var(--item-bg-color);
    border: 1px solid var(--border-color);
}
.loc-h-card-content-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loc-h-tools{
    display: flex;
    align-items: center;
    gap: 20px;
}
.loc-h-back-btn{
    border: 1px solid var(--input-border) !important;
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 7px;
}